<div class='header-title'>
  <h1>Login</h1>
</div>
<section class='login-box'>
  <%= form_tag login_path do %>
    <div>
      <p><%= text_field_tag :email, nil, placeholder: 'Email Address' %></p>
      <p><%= password_field_tag :password, nil, placeholder: 'Password' %></p>
      <%= submit_tag 'Log In', class: 'submit-button' %>
    </div>
  <% end %>
</section>


