
<% @posts.each do |post| %>
  <p><%= post.message %></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<%= "You are currently logged in as #{current_user.username}" %>

<%= link_to 'Logout', logout_path, method: :delete %>


