@font-face {
  font-family: 'CFParis';
  src: url('CFParisOldStyle-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Queen Grunge';
  src: url('QueenInlineGrunge.ttf') format('truetype');
}

@font-face {
  font-family: 'Queens Gambit';
  src: url('Queens_Gambit.ttf') format('truetype');
}

@font-face {
  font-family: 'Retrograpth';
  src: url('RetrographDemo.ttf') format('truetype');
}

@font-face {
  font-family: 'Retrospective';
  src: url('Retrospective.ttf') format('truetype');
}

body {
  background-image: url('wp3.jpeg');
  /* font-family: aileron, sans-serif; */
  font-family: 'Queens Gambit';
}

h1 {
  font-family: 'Retrospective';
  font-weight: 400;
  font-size: 40px;
  height: 2vh;
  color: black;
}

a,
h2,
h3,
h4,
h5 {
  /* text-align: center; */
  font-style: normal;
  font-family: 'Queens Gambit';
  color: black;
  font-weight: 200;
  height: 1vh;
}

#time {
  text-align: right;
  font-style: normal;
  color: black;
  font-weight: 200;
  height: 2vh;
}

#box {
  width: 75%;
  margin: 0% auto;
  height: 100vh;
  border-radius: 40px;
  /* overflow: scroll; */
}

#title_box {
  text-align: center;
  width: 75%;
  margin: 5% auto;
  height: 10vh;
  border-radius: 30px;
}

.create_note_box {
  /* text-align: center; */
  width: 35%;
  margin: 0 2%;
  position: absolute;
  height: 30vh;
  /* background-color: rgb(0, 51, 51); */
  border-radius: 30px;
  float: left;
  /* overflow: scroll; */
}

#full_note_box {
  text-align: center;
  width: 35%;
  margin: 0 2%;
  height: 40vh;
  position: absolute;
  bottom: 0;
  /* background-color: rgb(0, 51, 51); */
  border-radius: 30px;
}

#list_note_box {
  text-align: left;
  width: 45%;
  margin: 0 2%;
  height: 77vh;
  /* background-image: url('images/space7.jpg'); */
  border-radius: 30px;
  float: right;
}

.file-button,
input[type='submit'] {
  border-radius: 8px;
  height: 6vh;
  width: 100px;
  margin: 2% auto;
  font-family: 'Retrospective';
  background-image: image-url('download.jpg');
  font-weight: 200;
  color: #ff471a;
  border: 2px solid #e6c300;
}

input[type='submit']:hover {
  opacity: 0.6;
}

/* #user_email, */
/* #user_password */
form input[type='text'],
form input[type='password'] {
  border-radius: 8px;
  font-weight: 200;
  width: 220px;
  margin: 1% auto;
  font-family: 'Retrospective';
  color: black;
  background-color: #fff9e6;
  outline: #ff471a;
  border: 2px solid #e6c300;
}

.textarea {
  border-radius: 8px;
  height: 8vh;
  width: 250px;
  margin: 0% auto;
  font-family: 'Retrospective';
  color: black;
  font-weight: 200;
  bottom: 10%;
  /* background-image: image-url('images/space6-1.jpg'); */
  /* background-image: url('images/space11.jpg'); */
  outline: #ff471a;
  border: 1px solid #e6c300;
}

.alert {
  padding: 20px;
  width: 550px;
  border-radius: 8px;
  background-color: #fdab9b;
  border: 2px solid #fd4324;
  color: black;
  margin-bottom: 15px;
}

.notice {
  padding: 20px;
  width: 550px;
  border-radius: 8px;
  background-color: #bcc8dc;
  border: 2px solid #3e5275;
  color: black;
  margin-bottom: 15px;
}

.profile-img {
  border-radius: 50%;
  height: 50px;
  margin: 5px auto;
}

.profile-img-comment {
  border-radius: 50%;
  height: 25px;
  margin: 5px auto;
  float: left;
}

.post-img {
  width: 200px;
}

.feed-post-box {
  border-radius: 8px;
  padding: 0.5em;
  margin: 3% auto;
  background-color: #fff9e6;
  bottom: 10%;
  outline: #ff471a;
  border: 2px solid #e6c300;
}

.comment-box {
  border-radius: 8px;
  margin: 0.5% auto;
  background-color: #fff9e6;
  bottom: 10%;
  height: 50px;
  // overflow: hidden;
  position: relative;
  padding: 0.5em;
  // outline: #ff471a;
  // border: 2px solid #ff471a;
  // cursor: pointer;
}

.hiddendiv {
  border-radius: 8px;
  padding: 1em;
  bottom: 10%;
  outline: #ff471a;
  display: none;
  margin: 0% auto;
  border: 2px solid #3e5275;
  background-color: #fff9e6;
}

.comment-box:focus + .hiddendiv {
  display: block;
}

#post-hr {
  width: 98%;
  margin-top: 5%;
  border: 1px;
}

#comment-message {
  border-radius: 8px;
  margin: 0.5% auto;
  margin-left: 30px;
  padding: 0.2em;
  background-color: white;
  bottom: 10%;
  position: relative;
  border: 2px solid #ff471a;
  cursor: pointer;
}

.comment-heart {
  position: absolute;
  width: 30px;
  right: 1px;
}

.post-heart {
  position: absolute;
  height: 70px;
  right: 8px;
}

#comment-♥️ {
  text-align: right;
  padding-top: 0px;
  padding-right: 36px;
  font-style: normal;
  color: black;
  font-weight: 200;
  height: 2vh;
}

#post-♥️ {
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: left;
}

#heart-the-post {
  position: absolute;
  width: 100%;
  top: 65%;
  padding-right: 70px;
  text-align: right;
}

#comment-count {
  position: absolute;
  width: 100%;
  top: 65%;
  text-align: center;
}
