@font-face {
  font-family: 'Queens Gambit';
  src: url('Queens_Gambit.ttf') format('truetype');
}

@font-face {
  font-family: 'Retrospective';
  src: url('Retrospective.ttf') format('truetype');
}

body {
  // background-color: #f7c2c9;
  background-image: image-url('wallpaper-cards.png');
  background-size: 100%;
  font-family: 'Retrospective';
}

h1 {
  font-family: 'Retrospective';
  font-weight: 400;
  font-size: 40px;
  height: 2vh;
  color: black;
}

a,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-family: 'Retrospective';
  color: black;
  font-weight: 200;
  height: 2vh;
}

#center {
  text-align: center;
  margin: 1% auto;
}

#center-no-p {
  background-color: #fadceb;
  text-align: center;
  border-radius: 8px;
  margin: 8% auto;
  padding: 0.5em;
}

#left-w {
  text-align: center;
  margin: 1% auto;
  background-color: #fadbdb;
  border-radius: 8px;
  padding: 0.5em;
}

#center-w {
  text-align: center;
  margin: 1% auto;
  padding: 0.5em;
  background-color: #fadbdb;
  margin-left: 26%;
  margin-right: 26%;
  border-radius: 8px;
}

// #center-acc {
//   text-align: center;
//   margin: 1% auto;
//   color: white;
// }

#center-margin {
  text-align: center;
  margin: 1% auto;
  margin-bottom: 30px;
}

#time {
  text-align: right;
  font-style: normal;
  color: black;
  font-weight: 200;
  height: 2vh;
  font-family: 'Queens Gambit';
}

#box {
  width: 75%;
  margin: 0% auto;
  height: 100%;
  border-radius: 40px;
  overflow: auto;
}

.header-title {
  border-radius: 8px;
  padding: 0.5em;
  margin: 2% auto;
  width: 80%;
  background-color: #fadceb;
  padding: 0.5em;
  height: 12vh;
}

.header-title-login {
  text-align: center;
  border-radius: 8px;
  padding: 0.5em;
  background-color: #fadceb;
  margin: 1% auto;
  padding: 0.5em;
  height: 15vh;
}

.flow-search {
  text-align: center;
  border-radius: 8px;
  padding: 0.5em;
  background-color: #fadceb;
  margin: 0% auto;
  padding: 0.5em;
  height: 22vh;
}

.header-title-login-small {
  text-align: center;
  border-radius: 8px;
  padding: 0.5em;
  margin: 0% auto;
  width: 80%;
  background-size: 50%;
  padding: 0.5em;
  height: 15vh;
  background-color: #fadceb;
}

.submit-button {
  border-radius: 8px;
  height: 6vh;
  width: 100%;
  margin: 2% auto;
  font-family: 'Retrospective';
  background-color: #2596be;
  font-weight: 200;
  color: #e84b2c;
  border: 2px solid #2596be;
}

.sbm-comment-btn {
  font-family: 'Retrospective';
  border-radius: 8px;
  background-color: #2596be;
  color: #ff471a;
  border: 2px solid #2596be;
}

.sml-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 8px;
  height: 6vh;
  font-family: 'Retrospective';
  background-color: #2596be;
  color: #e84b2c;
  border: 2px solid #2596be;
}

.del-danger {
  border-radius: 8px;
  float: right;
  height: 6vh;
  padding: 0.3em;
  display: block;
  font-family: 'Retrospective';
  border-radius: 8px;
  text-decoration: none;
  background-color: #e85d9a;
  color: black;
  border: 2px solid #2596be;
}

.del-danger-index {
  margin: -20px -50px;
  position: relative;
  left: 50%;
  border-radius: 8px;
  height: 6vh;
  padding: 0.5em;
  font-family: 'Retrospective';
  border-radius: 8px;
  text-decoration: none;
  background-color: #e85d9a;
  color: black;
  border: 2px solid #2596be;
  margin-top: 50px;
  margin-bottom: 0px;
}

.show_comments {
  text-decoration: none;
  color: white;
  border: 2px solid #2596be;
  width: 50px;
  background-image: image-url('JF-King-Heart.jpeg');
  background-size: 100%;
  border: none;
  text-align: center;
  display: block;
  border-radius: 5px;
  height: 70px;
  left: 8px;
}

form input[type='text'],
form input[type='password'] {
  border-radius: 8px;
  width: 100%;
  padding: 0.3em;
  margin: 1% auto;
  position: relative;
  font-family: 'Retrospective';
  color: black;
  background-color: #fadbdb;
  outline: #ff471a;
  border: 2px solid #2596be;
}

.field {
  margin: 50% auto;
  margin-bottom: 2px;
  margin-top: 2px;
  border: 2px solid #2596be;
  width: 254px;
}

.field-panorama {
  margin: 50% auto;
  margin-bottom: 2px;
  margin-top: 2px;
  border: 2px solid #2596be;
  border-radius: 12px;
  // background-image: image-url('wallpaper-cards.png');
  background-image: image-url('4.jpeg');
  background-size: 100%;
  background-color: #f7c2c9;
  height: 150px;
}

.textarea {
  border-radius: 8px;
  height: 8vh;
  width: 100%;
  padding: 0.3em;
  margin: 1% auto;
  font-family: 'Retrospective';
  background-color: #fadbdb;
  outline: #ff471a;
  border: 2px solid #2596be;
}

#post_post_image {
  position: relative;
  font-display: inherit;
  margin: 1% auto;
  padding: 0.5em;
  background-color: #f7c2c9;
  outline: #ff471a;
  border-radius: 8px;
  border: 2px solid #2596be;
}

select,
.some-file-button {
  position: relative;
  font-display: inherit;
  margin: 1% auto;
  padding: 0.5em;
  background-color: #fadbdb;
  outline: #ff471a;
  border-radius: 8px;
  border: 2px solid #2596be;
}

#alert {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  padding: 20px;
  width: 60%;
  border-radius: 12px;
  text-align: center;
  background-color: #fadbdb;
  border: 2px solid #e85d9a;
  box-shadow: 0px 10px 20px #15a793;
  margin-top: 7%;
}

#notice {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  padding: 20px;
  width: 60%;
  border-radius: 12px;
  text-align: center;
  background-color: #fadbdb;
  box-shadow: 0px 10px 20px #e85d9a;
  border: 2px solid #15a793;
  margin-top: 7%;
}

#info {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: relative;
  padding: 20px;
  width: 60%;
  border-radius: 12px;
  text-align: center;
  background-color: #fadbdb;
  box-shadow: 0px 10px 20px #2596be;
  border: 2px solid #f9d406;
  margin-top: 7%;
}

#vp {
  text-align: right;
  height: 0vh;
}

.profile-img-nav {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 5px auto;
  right: 20px;
  position: absolute;
  object-fit: cover;
}

.profile-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid;
  object-fit: cover;
  border: 1px solid #2596be;
  margin: 5px auto;
}

.profile-img-comment {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 5px auto;
  object-fit: cover;
  border: 1px solid #15a793;
  float: left;
}

.profile-square {
  border-radius: 50%;
  border: 4px solid #2596be;
  border-radius: 50%;
  width: 200px;
  object-fit: cover;
  height: 200px;
  margin-top: 50px;
  margin-left: 40px;
}

.post-img {
  max-width: 90%;
  border-radius: 9px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.feed-post-box {
  border-radius: 12px;
  padding: 0.5em;
  margin: 5% auto;
  background-color: #fff9e6;
  bottom: 0%;
  outline: #ff471a;
  border: 2px solid #2596be;
}

.feed-post-box2 {
  border-radius: 12px;
  padding: 0.5em;
  margin: 2% auto;
  // background-image: image-url('wallpaper-cards.png');
  // background-image: image-url('2.jpeg');
  // background-size: 100%;
  background-color: #fadceb;
  bottom: 0%;
  outline: #ff471a;
  border: 2px solid #2596be;
}

.login-box {
  border-radius: 20px;
  padding: 0.5em;
  margin: 2% auto;
  margin-bottom: 70px;
  width: 80%;
  // background-image: image-url('wallpaper-cards.png');
  // background-size: 100%;
  background-color: #f7c2c9;
  bottom: 10%;
  outline: #ff471a;
  border: 2px solid #2596be;
}

.new-post-box {
  text-align: center;
  border-radius: 8px;
  padding: 0.5em;
  margin: 2% auto;
  margin-bottom: 70px;
  width: 80%;
  // background-image: image-url('wallpaper-cards.png');
  // background-size: 100%;
  background-color: #fadbdb;
  bottom: 10%;
  outline: #ff471a;
  border: 2px solid #2596be;
}

.comment-box {
  border-radius: 8px;
  margin: 0.5% auto;
  background-color: #fff9e6;
  bottom: 10%;
  height: 50px;
  position: relative;
  padding: 0.5em;
}

#hiddendiv {
  border-radius: 8px;
  padding: 1em;
  bottom: 10%;
  outline: #ff471a;
  margin-top: 5%;
  border: 2px solid #15a793;
  background-color: #fadceb;
}

#post-hr {
  width: 98%;
  margin-top: 5%;
  border: 1px;
}

#comment-message-show {
  border-radius: 8px;
  margin: 0.5% auto;
  margin-left: 30px;
  padding: 0.2em;
  background-color: #fadbdb;
  bottom: 10%;
  position: relative;
  border: 2px solid #15a793;
  cursor: pointer;
}

#comment-message {
  border-radius: 8px;
  margin: 0.5% auto;
  margin-left: 30px;
  padding: 0.2em;
  background-color: #fbdbeb;
  bottom: 10%;
  position: relative;
  border: 2px solid #15a793;
  cursor: pointer;
}

#comment_message {
  border-radius: 8px;
  margin: 0.5% auto;
  width: 82%;
  padding: 0.2em;
  bottom: 10%;
  position: relative;
  border: 2px solid #2596be;
}

.comment-heart {
  position: absolute;
  width: 30px;
  right: 1px;
}

.post-heart {
  border-radius: 5px;
  position: absolute;
  height: 70px;
  right: 120px;
}

// .post-heart-show {
//   height: 70px;
//   position: right;
// }

.post-heart-broken {
  border-radius: 5px;
  position: absolute;
  margin-top: 0px;
  height: 70px;
  right: 8px;
}

// .post-K {
//   height: 70px;
//   margin-left: auto;
//   margin-right: auto;
//   display: block;
// }

.post-K-profile {
  border-radius: 5px;
  height: 70px;
  left: 8px;
}

#time-com {
  text-align: left;
  height: 2vh;
  font-family: 'Queens Gambit';
  margin-left: 30px;
  position: absolute;
  width: 100%;
  padding-right: 70px;
}

#comment-♥️ {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 30px;
  padding-right: 36px;
  font-family: 'Queens Gambit';
  height: 0vh;
}

.post-♥️ {
  position: absolute;
  width: 100%;
  top: 65%;
  font-family: 'Queens Gambit';
  text-align: left;
}

.post-♥️-main {
  position: absolute;
  font-family: 'Queens Gambit';
  width: 100%;
  top: 65%;
  padding-right: 190px;
  text-align: right;
}

#heart-the-post {
  position: absolute;
  width: 100%;
  top: 65%;
  padding-right: 100px;
  text-align: right;
}

#heart-the-post-broken {
  position: absolute;
  width: 100%;
  top: 65%;
  padding-right: 70px;
  text-align: right;
}
#comment-count {
  display: block;
  position: absolute;
  font-family: 'Queens Gambit';
  color: #000;
  width: 100%;
  top: 65%;
  padding-left: 55px;
  text-align: left;
}

#rcs-com {
  display: block;
  position: absolute;
  color: #000;
  width: 100%;
  padding-left: 62px;
  text-align: left;
}

#comment-count-profile {
  display: block;
  position: absolute;
  top: 65%;
  font-family: 'Queens Gambit';
  padding-left: 55px;
  text-align: right;
}

.bar-box {
  padding: 3px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #15a793;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  height: 85px;
  position: relative;
}

.logo {
  width: 45px;
  border-radius: 4px;
  padding-top: 0px;
  left: 5px;
}

.ace-logo {
  height: 150px;
  background-color: #fadceb;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.seach-bar {
  border-radius: 8px;
  padding: 0.3em;
  font-family: 'Retrospective';
  background-color: inherit;
  outline: #ff471a;
  border: 2px solid #2596be;
}

.search-btn {
  height: 38px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: inherit;
  border: 2px solid #2596be;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.seach-bar:hover,
.search-btn:hover,
.profile-img-nav:hover {
  background-color: #f7c2c9;
  box-shadow: 0px 15px 20px #e85d9a;
  color: #fff;
  opacity: 0.6;
  transform: translateY(-7px);
}

input[type='submit']:hover,
button:hover,
.show_comments:hover,
.del-danger:hover,
.del-danger-index:hover,
.post-K:hover,
.post-heart:hover,
.post-heart-broken:hover,
.some-file-button:hover,
.sml-button:hover,
select:hover {
  background-color: #e85d9a;
  box-shadow: 0px 15px 20px #15a793;
  color: #fff;
  opacity: 0.6;
  transform: translateY(-7px);
}

#notice:hover,
#info:hover,
#alert:hover {
  background-color: #e85d9a;
  box-shadow: 0px 15px 20px #15a793;
  color: #fff;
  opacity: 0.6;

  // transform: translateY(-7px);
}

.logo-li:hover,
.li-box a:hover {
  background-color: #e85d9a;
  box-shadow: 0px 15px 20px #2596be;
  color: #fff;
  opacity: 0.6;
  transform: translateY(-7px);
}

.logo-li {
  font-family: 'Retrospective';
  float: left;
  display: block;
  text-align: center;
  border-radius: 8px;
  // border: 2px solid #ff471a;
  padding: 5px 5px 5px;
  // padding: 0.5em;
  text-decoration: none;
  position: relative;
}

.li-box a {
  font-family: 'Retrospective';
  float: left;
  display: block;
  text-align: center;
  border-radius: 8px;
  padding: 23px 30px 50px;
  text-decoration: none;
  position: relative;
}

.profile-details {
  border-radius: 8px;
  padding: 0.5em;
  margin: 10% auto;
  display: absolute;
  background-color: #fadbdb;
  margin-top: 15%;
  outline: #ff471a;
  border: 2px solid #2596be;
  height: 150px;
}

#user-details-box {
  text-align: left;
  border: 2px solid #2596be;
  width: 45%;
  margin-bottom: 200px;
  margin: 0 2%;
  height: 120%;
  padding: 1em;
  background-color: #fbdbeb;
  background-size: 100%;
  border-radius: 30px;
  float: left;
  overflow: auto;
}

#user-bio-box {
  text-align: center;
  border: 2px solid #2596be;
  width: 45%;
  background-color: #fbdbeb;
  margin-bottom: 200px;
  margin: 0 2%;
  height: 120%;
  padding: 1em;
  border-radius: 30px;
  float: right;
  overflow: auto;
}
